<%if notice.present?%>
  <%= notice %>
<% else %>
  <%= alert %>
<% end %>

<table>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>description</th>
  </tr>
  <% @products.each do |i| %>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.price %></td>
    <td><%= i.description %></td>
    <td><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
    <% end %>
</table>

<%= form_with(model:@product) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name%>

  <%= f.label :price %>
  <%= f.number_field :price%>

  <%=f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit 'crear'%>
<% end %>